# AI
LLM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
LLM_API_KEY=
LLM_MODEL=

# SITE
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SITE_NAME=RPA公共知识库
NEXT_PUBLIC_SITE_DESCRIPTION=RPA制品公共知识库

# GIT
NEXT_PUBLIC_GIT_REPO_WEB_URL=https://codeup.aliyun.com/yuce-tech/rpa/rpa-products-docs
NEXT_PUBLIC_GIT_DEFAULT_BRANCH=main
NEXT_PUBLIC_GIT_BLOB_URL_TEMPLATE=https://codeup.aliyun.com/yuce-tech/rpa/rpa-products-docs/blob/{branch}/content/docs/{path}

# ACCESS
DOCS_PRIVATE_ACCESS_TOKEN=

# PORT
PORT=3000
